<input type="text"
class="form-control"
[(ngModel)]="username">
<label >Username: </label>
<p>{{username}}</p>
<button class='btn btn-primary'
[disabled]="isUserNameEmpy()"
(click)="onResetUserName()">Reset Username</button>
